html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6F6;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .nav-left {
  display: flex;
  align-items: center;
}

.navbar .nav-left a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #161D6F;
  margin-right: 10px;
}

.navbar .nav-left .logo {
  height: 40px; /* Adjust the height as needed */
  width: auto;
  margin-right: 10px;
}

.navbar .nav-left .home-link {
  font-size: 16px;
  color: #161D6F;
  background-color: #C7FFD8;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.navbar .nav-left .home-link:hover {
  background-color: #98DED9;
  text-decoration: underline;
}

.navbar .nav-right button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #161D6F;
  background-color: #C7FFD8;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar .nav-right button:hover {
  background-color: #98DED9;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(246, 246, 246, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 50px;
}

.container h2 {
  color: #161D6F;
  margin-bottom: 20px;
}

.container h3 {
  font-size: 24px;
  color: #161D6F;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

form div label {
  font-size: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #161D6F;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #98DED9;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.option-button {
  flex: 1 0 45%; /* Adjust this value for the width of each button */
  margin: 5px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  min-height: 50px; /* Minimum height for consistency */
}
.option-button span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#question-text {
  text-align: center;
  margin-bottom: 20px;
}
