{% extends "auth_base.html" %}
{% block title %}Take Quiz{% endblock %}
{% block content %}
<nav class="navbar">
    <div class="nav-left">
        <a href="/">
            <img src="{{ url_for('static', filename='images/Extended logo.png') }}" alt="Logo" class="logo">
        </a>
        <a href="/" class="home-link">Home</a>
    </div>
    <div class="nav-right">
        <button onclick="window.location.href='/logout'">Logout</button>
    </div>
</nav>
<div class="container">
    <h2>{{ quiz.title }}</h2>
    <div id="quiz-container">
        <div id="question-container">
            <h3 id="question-text" style="text-align: center;"></h3>
            <div id="options-container" class="options-container">
                <!-- Options will be dynamically inserted here -->
            </div>
        </div>
        <div id="score-container" style="display: none;">
            <h3>Your Score: <span id="score"></span></h3>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/take_quiz.css') }}">
<script src="{{ url_for('static', filename='take_quiz.js') }}"></script>
<script>
    const questions = {{ questions|tojson }};
    displayQuestion(questions);
</script>
{% endblock %}
